<div class="container">
  <div class="ui-g">
    <form autocomplete="off" #painelForm="ngForm" (ngSubmit)="verificarResposta(painelForm)">

    <div class="p-col-12">
      <h1>Você deve procurar o A.A.?</h1>
    </div>


    <div class="p-col-12">
      <div class="p-grid">
        <div class="p-col-12 p-sm-8">

          <div class="painel">
            <h3>{{ titulo }}"</h3>

            <div class="p-col-12">
              <app-progresso [progresso]="progresso" ></app-progresso>
            </div>

            <div class="p-col-12">
              <p>{{ rodadaFrase.perg }}</p>
              <div class="card">
                <div class="alert alert-info" role="alert" >
                  {{ rodadaFrase.resp }}
                </div>
              </div>
            </div>

            <div class="p-col-12">
              <div class="d-flex justify-content-center" >
                <div  class="form-check-inline" >
                  <p-radioButton name="resposta" required (onClick)="atualizaResposta('true')"
                      [value]="true" [(ngModel)]="resposta" >
                  </p-radioButton>
                  <label for="respostaSim">Sim</label>
                </div>
                <div class="form-check-inline">
                  <p-radioButton name="resposta" required  (onClick)="atualizaResposta('false')"
                      [value]="false" [(ngModel)]="resposta">
                  </p-radioButton>
                  <label for="respostaNao">Não</label>
                </div>
                <p *ngIf="!painelForm.valid && painelForm.untouched" class="icon-invalid">Atenção, preencha SIM ou NÃO</p>
                <p *ngIf="painelForm.valid && painelForm.dirty" class="icon-ok">OK! Clique em avançar</p>
              </div>
            </div>

            <div class="p-col-12" id="botao">
              <button pButton type="submit" label="Avançar" class=".ui-button-info"
                [disabled]="!painelForm.valid">
              </button>
            </div>
          </div>

        </div>

          <div class="p-col-12 p-sm-4">
            <div class="painel">
              <p class="intro">Doze perguntas que somente você pode responder.</p>
              <p class="intro">Você deve procurar o A.A.?</p>
              <p class="intro">Somente você poderá decidir se o programa de recuperação de A.A. pode ajudá-lo.</p>
              <p class="intro">Nós, que estamos hoje em A.A., viemos porque finalmente desistimos de controlar nossa maneira de beber. Nós ainda detestávamos admitir que nunca poderíamos beber normalmente. Então ouvimos de outros membros de A.A. que estávamos doentes, (Nós pensamos assim durante anos!). Descobrimos que muitas pessoas apresentavam os mesmos sentimentos de culpa, solidão e desespero que nós tínhamos. Descobrimos que tínhamos estes sentimentos por sermos portadores da doença do alcoolismo.</p>
              <p class="intro">Decidimos encarar o que o álcool havia feito conosco. </p>
              <p class="intro">Aqui estão algumas perguntas que tentamos responder honestamente. Se respondermos "SIM" para quatro ou mais questões, estamos com sérios problemas com a nossa maneira de beber. Veja o resultado. Lembre-se, não há nenhuma vergonha em encarar o fato de que você tem um problema.</p>
            </div>
          </div>

        </div>
      </div>

    </form>
  </div>
</div>
