<div class="rodape">

  <div class="header">
    <div class="p-col-12">
      <h2>Grupo Salva vidas de A.A.</h2>
        <p class="endereco">Rua Guaraci, n° 38 - Vila Angela Marta - Campinas</p>
        <p>Reuniões 2°, 4° e 6°, das 19:00 às 21:00</p>
    </div>
  </div>

  <div class="conteudo">
    <div class="container">
      <div class="p-grid">
        <div class="p-col-12 p-sm-8">
            <div class="ui-g">
                <div class="p-col-12 p-sm-4 item">
                  <a routerLink=''>Home</a><br>
                  <a routerLink="/perguntas">Você deve procurar o A.A.?</a><br />
                  <a routerLink="/passos">Os 12 Passos de A.A.</a>
                </div>
                <div class="p-col-12 p-sm-4 item">
                  <a routerLink="/localizacao"> Localização</a>
                </div>
                <div class="p-col-12 p-sm-4 item">
                  <a routerLink="/login">Sobre</a><br />
                  <a routerLink='/salvavidas'>Grupo Salva vidas</a>
                </div>
            </div>
          </div>

          <div class="p-col-12 p-sm-4" >
            <section>
              <div class="endereco">
                <h2>E.S.L.</h2>
                <small>Escritório de Serviços Locais</small>
              </div>

              <div class="endereco">
                <p>
                  <img id="esl" src="../../../assets/icones/email.png" >
                  alcoolicosanonimos.cps@gmail.com
                </p>
              </div>
              <div class="endereco" >
                <p>
                  <img id="esl" src="../../../assets/icones/telefone-rodape.png">
                  (19)3234-8088
                </p>
              </div>
              <p>Reuniões 2° à 6°, Horário comercial</p>
            </section>
          </div>
      </div>

    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="p-col-12">
        <span>Política de Privacidade | </span>
        <!--span id="footer">Desenvolvedor (19) 99659-2800</span-->
      </div>
    </div>
  </div>

</div>
