<div class="container">
  <div class="ui-g">

    <div class="p-col-12 titulo">
      <h1>Grupo Salva-vidas</h1>
    </div>

    <div class="ui-g">

      <div class="p-col-12 p-sm-8">
        <div class="p-grid">
          <div class="p-col-12">
            <div class="place">
              <h3>História do surgimento do Grupo Salva vidas</h3>
              <img src="../../../assets/imagens/grupo_pq.JPG" alt="alcoolicos anonimos">
              <p>Corria o ano de 1989, o companheiro Pedro Bamba, que fazia parte do grupo Andorinha, o companheiro Adriano
                 que fazia parte do grupo Central e os companheiros Ézio e Barreto que participavam do Grupo Nova Europa, como
                  membros de Alcoólicos Anônimos e moravam no bairro São Bernardo.
              </p>
              <p>
                O companheiro Pedro Bamba e sua esposa Dona Cecília foram conversar com o Vigário da Paróquia Padre Teixeira e
                pedir para abrir um grupo de Alcoólicos Anônimos nas dependências da igreja.
              </p>
              <p>
                O padre marcou uma reunião para a terceira sexta-feira do mês de agosto com a comunidade e os membros de Alcoólicos
                Anônimos que faziam parte do comitê Trabalhando com os Outros(CTO).
              </p>
              <p>
                Os membros Carlos F., Vitor E., Roberto José de Melo e Jorginho marcaram uma reunião de informação ao público para
                o dia 16 de Setembro de 1989 para divulgar A.A. em nossa comunidade.
              </p>
              <p>
                Depois desta reunião iniciamos com duas reuniões por semana, nas terças e quintas, em caráter experimental a frequência
                era de 6 a 8 companheiros que vieram apadrinhar o grupo recém-formado.
              </p>
              <p>
                Depois disso a frequência foi aumentando e o grupo passou a ter reuniões de segundas, quartas e sextas-feitas.
              </p>
              <div class='clear'></div>
              </div>
            </div>
        </div>
      </div>

      <div class="p-col-12 p-sm-4">
        <div class="p-grid p-justify-center" style="margin-top: 3px;" >
          <div class="sidenote">
          <h3>Outros grupos em Campinas.</h3>
          <ol>
            <li>Grupo Albatroz</li>
            <li>Grupo Andorinha</li>
            <li>Grupo Araponga</li>
            <li>Grupo Beija-Flor</li>
            <li>Grupo Campinas</li>
            <li>Grupo Cantão</li>
            <li>Grupo Central</li>
            <li>Grupo Condor</li>
            <li>Grupo Futuro Feliz</li>
            <li>Grupo Lúmen</li>
            <li>Grupo Nova Europa</li>
            <li>Grupo Nova Vida</li>
            <li>Grupo Phenix</li>
          </ol>
          </div>
        </div>
      <div class="clear"></div>
      <div class="p-col-12">
       <img src="../../../assets/imagens/logoo.png">
      </div>
    </div>
  </div> <!-- Fim 2 ui-g -->

  <div class="p-col-12">
    <h4>Fotos do grupo</h4>
  </div>

  <div class="p-col-12">
    <div class="ui-g">

    <div class="p-col-12 p-sm-3 fotos" >
      <img src='../../../assets/imagens/1.jpg' alt='Salva vidas'>
      <span>Vista externa</span>
    </div>
    <div class="p-col-12 p-sm-3 fotos">
      <img src='../../../assets/imagens/2.jpg' alt='Salva vidas'>
      <span>Letreiro externo</span>
    </div>
    <div class="p-col-12 p-sm-3 fotos">
      <img src='../../../assets/imagens/3.JPG' alt='Salva vidas'>
      <span>Vista interna</span>
    </div>
    <div class="p-col-12 p-sm-3 fotos">
      <img src='../../../assets/imagens/4.jpg' alt='Salva vidas'>
      <span>Sacola da 7°</span>
    </div>

  </div>
  </div>


  </div> <!-- Fim 1 ui-g -->
</div> <!-- Fim container -->
<app-rodape></app-rodape>
