<div class="container">
  <div class="ui-g">

    <div class="p-col-12">
      <h1>Relatórios</h1>
    </div>

  <div class="p-col-12 p-md-6">
    <p-panel header="Relatórios de lançamentos diários">

    <form #relatorioForm1=ngForm (ngSubmit)="gerarRelatorioDiario()">

      <div class="p-col-12 ui-fluid">
        <label>Vencimento</label>
        <input type="date" pInputText name="periodoInicio" style="width: 160px" required
              name="periodoInicio" [(ngModel)]="periodoInicio">
        <label>até</label>
        <input type="date" pInputText name="periodoFim" style="width: 160px" required
              name="periodoFim" [(ngModel)]="periodoFim">
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="Gerar" [disabled]="!relatorioForm1.valid"></button>
      </div>

    </form>
    </p-panel>
  </div>
<!-- <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> -->
<div class="p-col-12 p-md-6">
  <div class="ui-g">
    <p-panel header="Relatórios de lançamentos por pessoa">

    <!--div class="p-col-12">
      <h1>Relatórios de lançamentos por pessoa</h1>
    </div-->

      <form #relatorioForm2=ngForm (ngSubmit)="gerarRelatorioPorPessoa()">

      <div class="p-col-12">
        <label>Vencimento</label>
        <input type="date" pInputText name="periodoInicio" style="width: 160px" required
              name="periodoInicio" [(ngModel)]="periodoInicio">
        <label>até</label>
        <input type="date" pInputText name="periodoFim" style="width: 160px" required
              name="periodoFim" [(ngModel)]="periodoFim">
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="Gerar" [disabled]="!relatorioForm2.valid"></button>
      </div>

      </form>
    </p-panel>
  </div>

  </div>
</div>

</div>
