<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

    <div class="p-col-12">
      <h1>Pesquisa de usuários</h1>
    </div>

    <div class="p-col-12 ui-fluid">
      <label>Nome</label>
      <input type="text" pInputText name="nome" [(ngModel)]="filtro.nome"  />
    </div>

    <div class="p-col-12">
      <button pButton type="submit" label="Pesquisar" ></button>
    </div>

    <div class="p-col-12">
      <p-table [value]="usuarios" [responsive]="true" #tabela
      [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)"
      [paginator]="true" [rows]="filtro.itensPorPagina" [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} registros" >
        <ng-template pTemplate="header">
            <tr>
                <th class="col-codigo">Cod</th>
                <th class="col-nome">Nome</th>
                <th>E-mail</th>
                <th class="col-senha">Senha</th>
                <th>Permissões</th>
                <th class="col-botao"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr>
                <td style="text-align: center;">{{ usuario.codigo }}</td>
                <td style="text-align: center;">{{ usuario.nome }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.senhaUsuario }}</td>
                <td><span *ngFor="let permissao of usuario.permissoes">{{ permissao.codigo }}, </span></td>
                <td style="text-align: center;">
                  <a style="margin-right: 10px;" href="#" pButton icon="pi pi-pencil"
                    pTooltip="Atualizar" tooltipPosition="top"
                    [routerLink]="['/usuarios', usuario.codigo]" >
                  </a>
                  <button pButton icon="pi pi-trash"
                    pTooltip="Excluir" tooltipPosition="top"
                    [disabled]="!auth.temPermissao('ROLE_REMOVER_USUARIO')"
                    (click)="confirmarExclusao(usuario)" >
                  </button>
                </td>
            </tr>
        </ng-template>
      </p-table>
    </div>

  </form>

  <div class="p-col-12">
    <button pButton routerLink="/usuarios/novo" label="Novo usuário"
        [disabled]="!auth.temPermissao('ROLE_CADASTRAR_USUARIO')">
    </button>
  </div>

  </div>
</div>
