<div class="container">
  <div class="ui-g">

    <div class="p-col-12">

      <div class="passos">
        <h1>{{ titulo }}</h1>
        <!--img src="../../../assets/icones/passos.png"-->
      </div>

      <div class="p-grid">

        <div class="p-col-12 p-md-6 p-lg-4">
          <div class="figure">
          <img src="../../../assets/imagens/caminho.jpg">
            <figcaption>
              <h3>Oração da Serenidade</h3>
                <p>
                Concedei-nos, Senhor, a Serenidade necessária
                para aceitar as coisas que não podemos modificar,
                Coragem para modificar aquelas que podemos,
                e Sabedoria para distinguir uma das outras.
                </p>
            </figcaption>
          </div>
        </div>

        <div class="p-col-12 p-md-6 p-lg-8">
          <div class="p-grid">

            <div class="p-col-12">
              <p-accordion>
                <p-accordionTab class="content">
                  <p-header class="titulo">
                      <strong>1° Passo - </strong> Admitiamos que éramos impotentes perante ao álcool - que tínhamos
                      perdido o domínio sobre nossas vidas.
                  </p-header>
                  <p>Quem gosta de admitir a derrota total? A admissão da impotência é o primeiro passo para a libertação.
                  A relação entre a humildade e a sobriedade. A obssessão mental somada à alergia física. Por que é
                  necessário que todo A.A. chegue ao "fundo do poço"?</p>
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab  class="content">
                  <p-header class="titulo">
                      <strong>2° Passo - </strong> Viemos acreditar que um Poser Superior a nós mesmos poderia devolver-nos
                      a sanidade.
                  </p-header>
                  <p>Em que podemos acreditar? O A.A. não exige crença; os Doze Passos são apenas sugestões. A importância de ter
                  a mente aberta. A variedade de caminhos em direção à fé. Substituição por A.A. como força superior. A má situação
                  dos desiludidos. As barreiras da indiferença e do preconceito. A fé perdida é reencontrada em A.A. Problemas do
                  intelectualismo e da auto-suficiência. Pensamentos negativos e positivos. A honestidade. O desdém é uma característica
                  saliente dos alcoólicos. O segundo passo é um ponto de reagrupamento em direção à santidade. É a relação certa com Deus.</p>
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab  class="content">
                  <p-header class="titulo">
                      <strong>3° Passo - </strong> Decidimos entregar nossa vontade e nossas vidas aos cuidados de Deus,
                      na forma em que O concebíamos.
                  </p-header>
                  <p>O Terceiro Passo é como abrir uma porta trancada. Como faremos para permitir que Deus entre em nossas vidas?
                  A disposição é a chave. A dependência como maneira de chegar a independência. O perigo da auto-suficiência. Entregando
                  nossa vontade a um Poder Superior. Abuso da força de vontade. O esforço pessoal prolongado é necessário para se
                  harmonizar com a vontade de Deus.</p>
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab  class="content">
                  <p-header class="titulo">
                      <strong>4° Passo - </strong> Fizemos minucioso e destemido inventário moral de nós mesmos.
                  </p-header>
                  <p>Como os instintos pondem exceder sua verdadeira função. O Quarto Passo é um esforço para descobrir nossas deficiências.
                  O problema básico dos extremos nos impulsos instintivos. O inventário moral mal orientado pode resultar em sentiments de
                  culpar os outros. Pode-se anotar as qualidades junto as deficiências. A auto-justificação é perigosa. A disposoção de fazer
                  o inventário traz a luz e uma nova confiança. O Quarto Passo é o começo de uma prática que durará a vida toda. Sintomas
                  comuns de insegurança emocional são a preocupação, o rancor, a autopiedade e a depressão. O inventário revisa as relações.
                  A importância da minuciosidade.</p>
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab  class="content">
                  <p-header class="titulo">
                      <strong>5° Passo - </strong> Admitimos perante Deus, perante nós mesmos e perante outro ser humano,
                      a natureza exata de nossas falhas.
                  </p-header>
                  <p>Os Doze Passos desincham o ego. O Quinto Passo é díficil, porém necessário à sobriedade e à paz de espírito. A confissão
                  é uma disciplina antiga. Sem a destemida admissão dos próprios defeitos, poucos poderiam se manter sóbrios. Que recebemos
                  do Quinto Passo? O começo da verdadeira afinidade com o homem e com Deus. Perde-se a sensação de isolamento; recebe-se e se
                  dá o perdão; aprende-se a humildade; alcançam-se a honestidade e a realidade a respeito de nós mesmos. O perigo da justificação.
                  Como escolher a pessoa em quem confiar. Os resultados são a tranquilidade e a consciência de Deus. A união com Deus
                  e com o homem nos prepara para os próximos passos.</p>
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab  class="content">
                  <p-header class="titulo">
                      <strong>6° Passo - </strong> Prontificamos-nos inteiramente a deixar que Deus removesse todos esses defeitos de caráter.
                  </p-header>
                  <p>O Sexto Passo é necessário para o crescimento espiritual. O começo de uma tarefa da vida inteira. O reconhecimento da diferença
                  entre o esforço para alcançar um objetivo - pronto" é de suma importância. A necessidade de tomar a perfeição. Por que
                  precisamos continuar tentando? "Estas medidas. A demora é perigosa. A rebelião pode ser fatal. O ponto, a partir do qual
                  abandonamos os objetivos limitados e nos encaminhamos em direção à vontade de Deus para conosco.</p>
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab  class="content">
                  <p-header class="titulo">
                      <strong>7° Passo - </strong> Humildemente rogamos a Ele que nos livrasse de nossas imperfeições.
                  </p-header>
                  <p>Que é humildade? Que pode significar para nós? O largo caminho rumo à verdadeira liberdade do espírito humano. Uma
                  ajuda indispensável à sobriedade. O valor do esvaziamento do ego. O fracasso e a miséria transformados pela humildade.
                  A força que vem da debilidade. A dor é o preço da entrada para uma nova vida. O modo egocêntrico é o propulsor principal
                  dos defeitos. O Sétimo Passo é a modificação de atitude que permite que nos transportemos em direção a Deus.</p>
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab  class="content">
                  <p-header class="titulo">
                     <strong>8° Passo - </strong> Fizemos uma relação de todas as pessoas que tínhamos prejudicado e nos dispusemos
                     a reparar os danos a elas causados.
                  </p-header>
                  <p>Este e os próximos dois passos tratam das relações pessoais. Aprender a viver com os outros é uma aventura fascinente. Os
                  obstáculos: relutância em perdoar; a não admissão dos males feitos aos outros; o esquecimento propositado. A necessidade de
                  uma revisão exaustiva do passado. O discernimento cada vez mais profundo resulta da minuciosidade. O tipo de dano feito
                  aos outros. Evitando os julgamentos extremos. Adotando o ponto de vista objetivo. O Oitavo Passo é o começo do fim do isolamento.</p>
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab  class="content">
                  <p-header class="titulo">
                      <strong>9° Passo - </strong> Fizemos reparações diretas dos danos causados a tais pessoas, sempre que possível, salvo quando
                      fazê-lo significasse prejudicá-las ou a outrem.
                  </p-header>
                  <p>Ter a mente tranquila é o primeiro requisito para poder julgar acertadamente. A hora certa é importante quando se trata
                  de reparação. Que é a coragem? A prudência significa assumir riscos calculados. As reparações começam quando nos tornamos companheiros
                  em A.A. A paz de espírito não pode ser comprada à custa dos outros. A necessidade de discrição. A disposição de arcar com as
                  consequências de nosso passado e de nos responsabilizarmos pelo bem-estar dos outros é o espírito do Nono Passo.</p>
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab  class="content">
                  <p-header class="titulo">
                      <strong>10° Passo - </strong> Continuamos fazendo o inventário pessoal e, quando estávamos errados, nós os admitíamos prontamente.
                  </p-header>
                  <p>Podemos manter a sobriedade e o equilibrio emocional sob quaisquer condições. A investigação própria torna-se um hábito regular.
                  Admita, aceite e corrija, pacientemente, os defeitos. A ressaca emocional. Quando se fez as pazes com o passado, pode-se enfrentar
                  os desafios do presente. Os tipos de inventário. O rancor, os ressentimentos, o ciúme, a inveja, a autopiedade, o orgulho
                  ferido - todos levaram à garrafa. O autocontrole é o primeiro objetivo. Seguro contra a mania de grandeza. Olhamos tanto
                  as qualidades quanto as deficiências. Exame dos motivos.</p>
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab  class="content">
                  <p-header class="titulo">
                      <strong>11° Passo - </strong> Procuramos, através de prece e de meditação, melhorar nosso contato consciente com Deus, na forma
                      em que o Concebíamos, rogando apenas o conhecimento de Sua vontade em relação a nós, e forças para
                      realizar essa vontade.
                  </p-header>
                  <p>A meditação e a oração são as principais vias para um Poder Superior. A relação entre o exame de si mesmo, a meditação e a oração.
                  Uma base indestrutível para a vida. De que maneira meditaremos? A meditação não tem limites. Uma aventura individual. O primeiro
                  resultado é o equilíbrio emocional. Que diremos da oração? Pedidos diários para compreender a vontade de Deus e para a graça a fim
                  de pô-la em prática. São indiscutíveis os resultados efetivos da oração. As recompensas da meditação e da oração.</p>
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab  class="content">
                  <p-header class="titulo">
                      <strong>12 ° Passo - </strong> Tendo experimentado um despertar espiritual, graças a estes passos, procuramos transmitir esta mensagem aos
                    alcoólicos e praticar estes príncipios em todas as nossas atividades.
                  </p-header>
                 <p>A alegria de viver é o tema do Décimo-Segundo Passo. Sua chave é a oração. O dar que não pede recompensa. O amor que não tem preço. O
                 que é o despertar espiritual? Um novo estado de consciência é recebido como uma dádiva gratuita. A disposição de receber a dádiva está na prática dos
                 Doze Passos. A maravilhosa realidade. Os benefícios de ajudar outros alcoólicos. Tipos de trabalho do Décimo-Segundo Passo.
                 O que diremos da prática destes príncipios em todas as nossas atividades? A monotonia, a dor, a desgraça transformados com a prática
                 dos passos. As dificuldades em praticá-los. "A dança dos dois passos". Mudando para "o samba dos doze passos" e demonstrações de fé. O
                 crescer espiritual é a resposta para nossos problemas. Colocando o crescimento espiritual em primeiro lugar. A dominação
                 e a dependência exageradas. Colocando nossas vidas na base do "dar e receber". A dependência de Deus é necessária à recuperação dos alcoólicos. "Praticando
                 estes príncipios em todas as nossas atividades." As relações conjugais em A.A. O mode de encarar os assuntos materiais vai mudando. Também mudam
                 os nossos sentimentos a respeito da importância pessoal. Os instintos voltam a ter seus verdadeiros objetivos. A compreensão é a chave das
                 atitudes corretas, e a ação correta é a chave para viver bem.</p>
                </p-accordionTab>
              </p-accordion>

            </div>

          </div>
        </div>

    </div>



    </div> <!-- fim p-col-12 -->


  </div> <!-- fim ui-g-->
</div> <!--fim container-->
<app-rodape></app-rodape>
