<div class="container">

  <form autocomplete="off" #lancamentoForm="ngForm" (ngSubmit)="salvar(lancamentoForm)">
    <div class="ui-g">
      <div class="p-col-12">
        <h1>{{ atualizando ? 'Atualização de' : 'Novo' }} lançamento</h1>
      </div>

      <div class="p-col-12">
        <p-selectButton class="form-control" [options]="tipos" #tipo name="tipo"
                         [(ngModel)]="lancamento.tipo" >
        </p-selectButton>
      </div>

      <div class="p-col-12  p-sm-3 ui-fluid">
        <label>Vencimento</label>
        <input class="form-control" type="date" pInputText
                      name="dataVencimento" ngModel  #dataVencimento="ngModel" required
                      [(ngModel)]="lancamento.dataVencimento" />
        <app-message [control]="dataVencimento" error="required" text="Informe a data de vencimento"></app-message>
      </div>

      <div class="p-col-12  p-sm-3 ui-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Entrada' : 'Saída' }}</label>
        <input class="form-control" type="date" pInputText
                name="dataPagamento" ngModel #dataPagamento="ngModel"
                [(ngModel)]="lancamento.dataPagamento" />
      </div>

      <div class="p-col-12 p-sm-9 ui-fluid">
        <label>Descrição</label>  <!-- {{ descricao.errors | json }} -->
        <input class="form-control" type="text" pInputText
               name="descricao" ngModel #descricao="ngModel" required minlength="5"
               [(ngModel)]="lancamento.descricao" />
        <app-message [control]="descricao" error="required" text="Informe uma descrição"></app-message>
        <app-message [control]="descricao" error="minlength"
          text="Você digitou apenas {{ descricao.errors?.minlength?.actualLength }}.">
        </app-message>       
      </div>

      <div class="p-col-12 p-sm-3 ui-fluid"> 
        <label>Valor</label>
        <input class="form-control" type="text" pInputText placeholder="R$ 0,00"
               name="valor" ngModel #valor="ngModel" required
               [(ngModel)]="lancamento.valor"
               currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
      </div>

      <div class="p-col-12 p-md-6 ui-fluid">
        <label>Categoria</label>
        <p-dropdown class="form-control" [options]="categorias" placeholder="Selecione"
                    name="categoria" ngModel #categoria="ngModel" required
                    [(ngModel)]="lancamento.categoria.codigo">
        </p-dropdown>
      </div>

      <div class="p-col-12 p-md-6 ui-fluid">
        <label>Pessoa</label>
        <p-dropdown class="form-control" type="text" [options]="pessoas" placeholder="Selecione" filter="true"
                    name="pessoa" ngModel #pessoa="ngModel" required
                    [(ngModel)]="lancamento.pessoa.codigo" >
        </p-dropdown>
      </div>

      <div class="p-col-12 ui-fluid">
        <label>Observação</label>
        <textarea class="form-control" [rows]="3"  pInputTextarea name="observacao" ngModel #observacao="ngModel"
                  [(ngModel)]="lancamento.observacao" >
        </textarea>
      </div>

      <div class="p-col-12" >
        <button pButton type="submit" label="Salvar" style="margin-right: 10px;" [disabled]="!lancamentoForm.valid" ></button>
        <button pButton type="button" label="Novo" class="ui-button-secondary" (click)="novo(lancamentoForm)"></button>
        <a routerLink="/lancamentos" style="margin-left: 10px;">Voltar para pesquisa</a>
      </div>

    </div>
  </form>
</div>
