<div class="tres-snippets">
  <div class="container">
    <div class="p-grid">

      <div class="p-col-12 p-sm-4 snippet">
        <!--p style="color: aliceblue; top: 10px;">teste</p-->
      </div>

      <div class="p-col-12 p-sm-4 snippet centro">
          <div class='snippet-middle'>
            <p class="icon-help"><img src="../../../assets/icones/help.png" /></p>
            <h2>Eu preciso de ajuda</h2>
          </div>
        <div id="triangulo-para-baixo"></div>
      </div>

      <div class="p-col-12 p-sm-4 snippet">
        <!--p style="color: aliceblue; top: 10px;">teste</p-->
      </div>

    </div>
  </div>
</div>


<div class="container">

  <div class="ui-g">

    <div class="p-col-12">
      <h1 class="bem-vindo">Bem vindo a Alcoólicos Anônimos</h1>
    </div>

    <div class="p-col-12 p-sm-8">
        <div class="ui-g">
            <div class="p-col-12">
                <h3>Preambulo:</h3>
                <div class="preambulo">
                  <p><i>A</i>LCOÓLICOS <i>A</i>NÔNIMOS® é uma irmandade de homens e mulheres que compartilham, entre si,
                      suas experiências, forças e esperanças, a fim de resolver seu problema comum e ajudar
                      outros a se recuperarem do alcoolismo.</p>
                   <p>O único requisito para ser membro é o desejo de parar de beber. Para ser membro de A.A.
                      não há taxas ou mensalidades, somos autossuficientes, graças às nossas próprias
                       contribuições.</p>
                    <p>A.A. não está ligada a nenhuma seita ou religião, nenhum movimento político, nenhuma
                      organização ou instituição; não deseja entrar em qualquer controvérsia; não apoia nem
                       combate quaisquer causas.</p>
                    <p>Nosso propósito primordial é mantermo-nos sóbrios e ajudarmos outros alcoólicos a
                      alcançarem a sobriedade</p>
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-sm-4">
      <div class="p-col-12 section">
        <img src="../../../assets/icones/bebida-alcoolica.png">
        <h3>Problema com a bebida?</h3>
        <p>Se você acha que tem problema com a bebida estamos aqui para ajudar.</p>
        <div class='clear'></div>
      </div>

      <div class="p-col-12 section">
        <a routerLink="/perguntas">
          <img src="../../../assets/icones/pergunta.png">
          <h3>Você deve procurar o A.A.?</h3>
          <p>12 perguntas que só você pode responder.</p>
          <div class='clear'></div>
          <i class="pi pi-arrow-right"  style="font-size: 3em"></i>
          <div class='clear'></div>
        </a>
      </div>

      <div class="p-col-12 section">
        <a routerLink="/passos">
          <img src="../../../assets/icones/passos.png">
          <h3>Os 12 Passos de A.A.?</h3>
          <p>Um breve resumo sobre os passos para reabilitação individual.</p>
          <div class='clear'></div>
          <i class="pi pi-arrow-right"  style="font-size: 3em"></i>
          <div class='clear'></div>
        </a>
      </div>

      <!--div class="p-col-12 section-revista">
        <a href="https://www.revistavivencia.org.br/"  target="_blank">
          <div class="logo-revista">
            <img src="../../../assets/icones/logo_revista.png">
          </div>
          <div class="icon-revista">
            <img src="../../../assets/icones/revista.png">
          </div>
          <h3>Revista bimensal de A.A.</h3>
          <p>Faça sua assinuta e receba em casa seu exemplar.</p>
          <div class='clear'></div>
        </a>
        <i class="pi pi-arrow-right"  style="font-size: 3em"></i>
        <div class='clear'></div>
      </div>

      <div class="p-col-12 section-revista">
        <a href="https://www.loja-aa.org.br/"  target="_blank">
          <div class="logo-revista">
            <img src="../../../assets/icones/junaab-logo.png" >
          </div>
          <div class="icon-revista">
            <img src="../../../assets/icones/carrinho-de-compras.png">
          </div>
          <h3>Loja on-line</h3>
          <p>Site oficial de Alcoólicos Anônimos no Brasil.</p>
          <div class='clear'></div>
        </a>
        <i class="pi pi-arrow-right"  style="font-size: 3em"></i>
        <div class='clear'></div>
      </div-->

    </div>

    <div class="p-col-12">
      <hr>
    </div>


    <div class="p-col-12">
      <div class="ui-g">

    <div class="p-col-12 p-sm-4 section-revista">
      <a href="https://www.revistavivencia.org.br/"  target="_blank">
        <div class="logo-revista">
          <img src="../../../assets/icones/logo_revista.png">
        </div>
        <div class="icon-revista">
          <img src="../../../assets/icones/revista.png">
        </div>
        <h3>Revista bimensal de A.A.</h3>
        <p>Faça sua assinuta e receba em casa seu exemplar.</p>
        <div class='clear'></div>
      </a>
      <i class="pi pi-arrow-right"  style="font-size: 3em"></i>
      <div class='clear'></div>
    </div>

    <div class="p-col-12 p-sm-4" >
    </div>

    <div class="p-col-12 p-sm-4 section-revista">
      <a href="https://www.loja-aa.org.br/"  target="_blank">
        <div class="logo-revista">
          <img src="../../../assets/icones/junaab-logo.png" >
        </div>
        <div class="icon-revista">
          <img src="../../../assets/icones/carrinho-de-compras.png">
        </div>
        <h3>Loja on-line</h3>
        <p>Site oficial de Alcoólicos Anônimos no Brasil.</p>
        <div class='clear'></div>
      </a>
      <i class="pi pi-arrow-right"  style="font-size: 3em"></i>
      <div class='clear'></div>
    </div>
  </div><!--fim p-grid-->

  </div><!--p-col-12-->



  </div> <!-- FIM UI_G -->
</div> <!-- FIM CONTAINER -->

<app-rodape></app-rodape>

 <!--div class="tnt">
    <div id="triangulo-para-cima">
    </div>
  </div-->
