body {
  margin: 0;
  /* margin-top: 40px; */
  /* margin-bottom: 40px; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #404C51;
  display: block;
  /* background: #E0E0FF url(./assets/noise.png); */
}

label {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.col-data {
  width: 150px;
  text-align: center;
}

.col-valor {
  width: 120px;
  text-align: right;
}

.col-botao {
  width: 110px;
}

